DATABASE_URL="postgresql://postgress:postgress@localhost:5432/zap_flow_db?schema=public"

# Session Secret (change in production)
SESSION_SECRET="your-secret-here"

# Mercado Pago - Point Smart Integration
MERCADOPAGO_ACCESS_TOKEN="APP_USR-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
MERCADOPAGO_WEBHOOK_SECRET=""


# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.cyxghprgaahbhvvfygek:[Ariranha@007]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.cyxghprgaahbhvvfygek:[Ariranha@007]@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"
