@import "tailwindcss";

@theme {
  --color-primary-dark: #303030;
  --color-brand-green: #01f05a;
  --color-pure-white: #ffffff;

  --color-brand-green-hover: #00d64f;
  --color-brand-green-light: #e6fef0;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
}

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  background-color: var(--color-gray-50);
  color: var(--color-primary-dark);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-300) transparent;
}
